extends layout

block content
    h1 List all activities

    table(border='1')
    thead
        tr
            th Description
            th Date
            th Started at
            th Duration
            th Distance
            th Avg heart freq.
            th Max heart freq.
            th Min heart freq.
    tbody
        //- each val in data
        //-     tr
        //-     td= val.last_name
        //-     td= val.first_name
        //-     td= val.birthday
        //-     td= val.height
        //-     td= val.weight
        //-     td= val.email
