extends layout

block content
	h1 Login page

	if error
		pre
			div.alert.alert-danger(role="alert") #{error}

	form(action='' method='post')
		.form-group
			label(for='emailInput') Email address
			if email
				input#emailInput.form-control(type='email' name='email' aria-describedby='emailHelp' value='#{email}')
			else
				input#emailInput.form-control(type='email' name='email' aria-describedby='emailHelp')
			small#emailHelp.form-text.text-muted Ex: name@domain.com
		.form-group
			label(for='passowrdInput') Password
			input#passowrdInput.form-control(type='password' name='password')
		button.btn.btn-primary(type='submit' name='submit') Login
