extends layout

block content
	h1 Authentification
	p Veuillez entrer votre adresse email et votre mot de passe.
	form(method='post')
		p
			label(for='email') Email 
			input(type='text', name='email')
		p
			label(for='password') Password 
			input(type='password', name='password')
		input(type='submit')