extends layout

block content
	h1.cover-heading SportTrack
	p.lead(style='margin-top: 25px; margin-bottom: 30px;')
		| An athlete cannot run with money in his pockets. He must run with hope in his heart and dreams in his head.
		br
		small From Emil Zatopek
	p.lead
		a.btn.btn-lg.btn-secondary(href="/activities") Activities
		br
		br
		a.btn.btn-lg.btn-secondary(href="/upload") Upload activity