extends layout

block content
	h1= title
	p Welcome to #{title} ... 
		ul
			li: a(href="/connect") Login
			li: a(href="/connect/logout") Logout
			li: a(href="/users") List of all the users
			li: a(href="/upload") Upload 
