extends layout

block content
	h1 Authentification
	p Veuillez entrer votre adresse email et votre mot de passe.
	form(method='post')
		p
			label(for='email') Email 
			input(type='text', name='email')
		p
			label(for='password') Password 
			input(type='password', name='password')

		p
			label(for='conf_password') Confirm password 
			input(type='password', name='conf_password')
		
		p
			label(for='first_name') Firstname 
			input(type='text', name='first_name')
		
		p
			label(for='last_name') Lastname 
			input(type='text', name='last_name')
		
		p
			label(for='birthday') Birthday
			input(type='date', name='birthday')

		p
			form-control(name='gender')
				option(value='MAN')
				option(value='WOMAN') 
				option(value='OTHER') 

		p
			label(for='height') Height
			input(type='range', name='height', min= 10, max= 300, step='1')

		p
			label(for='weight') Weight
			input(type='range', name='weight', min= 5, max= 300, step='1')

		input(type='submit')