extends layout

block content
	h1 Upload
	p Fichier à upload
	form(method="post", enctype="multipart\/form-data")
		input(type="hidden", name="sid", value=sessionId)

		p JSON:
			input(type="file", name="file")
		p
			input(type="submit", value="upload")