form{
    position: relative;
    width: 100%;
    height: 160px;
    border: 4px dashed #fff;
}
form p{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 150px;
    font-size: 22px;
    color: #ffffff;
    font-family: Arial;
}
form input{
    position: absolute;
    margin: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
}
form button{
    margin: 0;
    color: #222;
    background: #16a085;
    border: none;
    width: 80%;
    font-weight: bold;
    font-size: 22px;
    height: 40px;
    margin-top: 10px;
    margin-left: -4px;
    border-radius: 4px;
    border-bottom: 4px solid #117A60;
    transition: all .2s ease;
    outline: none;
}
form button:hover{
    background: #149174;
    margin-top: 9px;
    height: 42px;
}
form button:active{
    border:0;
}